body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:674px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:674px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:671px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:674px;
  width:378px;
  height:671px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:670px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1345px;
  width:378px;
  height:670px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:100px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
