body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:155px;
  height:20px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:30px;
  width:151px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:640px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:375px;
  height:634px;
  opacity:0.8;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:376px;
  height:259px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:370px;
  height:253px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:47px;
  height:47px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:441px;
  width:41px;
  height:41px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:31px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:448px;
  width:214px;
  height:27px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:351px;
  height:134px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:225px;
  width:347px;
  height:130px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:314px;
  height:111px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:80px;
  width:308px;
  height:105px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:111px;
  height:17px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:204px;
  width:107px;
  height:13px;
  font-size:10px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:343px;
  height:89px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:235px;
  width:339px;
  height:85px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:102px;
  height:31px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:448px;
  width:98px;
  height:27px;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:47px;
  height:47px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:499px;
  width:41px;
  height:41px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:102px;
  height:31px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:506px;
  width:98px;
  height:27px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:47px;
  height:47px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:558px;
  width:41px;
  height:41px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:102px;
  height:31px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:565px;
  width:98px;
  height:27px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:47px;
  height:47px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:619px;
  width:41px;
  height:41px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:102px;
  height:31px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:626px;
  width:98px;
  height:27px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:341px;
  height:44px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:365px;
  width:337px;
  height:40px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:333px;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:174px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:150px;
  width:300px;
  height:170px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:290px;
  height:42px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:201px;
  width:286px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:304px;
  height:10px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:275px;
  width:295px;
  height:1px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:35px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:279px;
  width:110px;
  height:31px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:174px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:363px;
  width:300px;
  height:170px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:273px;
  height:23px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:414px;
  width:269px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:304px;
  height:10px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:488px;
  width:295px;
  height:1px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:35px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:492px;
  width:110px;
  height:31px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:36px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:288px;
  width:300px;
  height:32px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:31px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:506px;
  width:214px;
  height:27px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:31px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:565px;
  width:214px;
  height:27px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:31px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:626px;
  width:214px;
  height:27px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:19px;
  height:18px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:336px;
  width:15px;
  height:14px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
